.content-container{
	
    height: 410px;
        
    /* background: rebeccapurple; */
        
    width: 93%;
        
    overflow-y: auto;
        
    overflow-x: hidden;
        
    position: relative;
        
    top: 20px;
        
    left: 50%;
        
    transform: translateX(-50%);
    }
.content-container::-webkit-scrollbar{
    width: 10px;
}
.content-container::-webkit-scrollbar-thumb{
    background: gray;
}