.content-container{       
    width: 380px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    top:0px;
    left: 0px;
    padding-top: 20px;
}
.content-container::-webkit-scrollbar{
    width: 10px;
}
.content-container::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.356);
}