#nav-bar{
	position: absolute;
	bottom: 1%;
	left: 50%;
    height: 10%;
    width: 96%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transform: translateX(-50%);
    border-radius: 10px;
}
.option{
	position: relative;
    height: 50px;
    width: 117px;
	transition:0.2s;
}
.option img{
	    height: 65%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.option .title{
    position: absolute;
    height: 20%;
    top: 68%;
    font-size: 11px;
    left: 50%;
    transform: translateX(-50%);
}
.option:hover{
	transform:scale(1.1)
}