.buttons-panel{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:20%;
	background-color:#316363;
	overflow-x:hidden;
	overflow-y:auto;
	
}
.buttons-panel div{
	position:relative;
	height:50px;
	width:100%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	transition:0.2s;
	padding-left:30px;
}
.buttons-panel div:first-child{
	margin-top:29px;
}
.buttons-panel div:last-child{
	margin-bottom:20px;
}
.buttons-panel div:hover{
	border-left:4px solid aqua;
}
.buttons-panel div img{
	height:50%;
	margin-right:15px;
}
.buttons-panel div h2{
	margin:0px;
	padding:0px;
	color:white;
	max-width:120px;
}