#report_text{

	resize:none;
}
#quit_app{
	position: fixed;
	top:0px;
	right: 0px;
	border: none;
	color: white;
	transition:0.2s;
	height: 40px;
	width: 40px;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}
#quit_app:hover{
	background: red;
}
