#new-report #report_text{
	height: 117px;
	resize:none;
}
#quit_app{
	position: fixed;
	top:0px;
	right: 0px;
	border: none;
	color: white;
	transition:0.2s;
	height: 40px;
	width: 40px;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}
#quit_app:hover{
	background: red;
}
#new-report input,#new-report textarea{
	background-color: rgb(99 99 102 / 70%);
	border:1px solid rgba(0 ,255 ,255,0.4);
	color:white
}