.appFrame{
    position: relative; 
    height: 500px; 
    width: 580px; 
    background: rgb(44,44,46); 
    border-radius: 5px; 
   
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
}