html,body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}
.no_padding{
	padding:0px;
}
.no_margin{
	margin:0px;
}
.relative_container{
	position:relative;width:100%;height:100%;
}
.fa{
	direction:rtl;
}
*{
	font-family:Arial;
}