#header .house_icon{
	position:absolute;
	top:50%;
	transform:translate(0%,-50%);
	left:15px;
	height:40px;
	border-radius:5px;
	padding:2px;
	transition:0.2s;
}
#header .house_icon:hover{
	background-color:blue;
	fill:white;
}
#header .chevron_down_icon{
	position: absolute;top: 50%;transform: translate(0,-50%);right: 103px;
}
#header{
height:80px;
width:100%;
position:fixed;
background-color:darkblue;
margin:0px;
padding:0px;
z-index:1;
top:0px;
}
#header #header_name{
	color:darkblue;
	position:absolute;
	margin:0px;padding:4px;
	top:50%;
	left:24%;
	transform:translate(-50%,-50%);
	background-color:white;
	border-radius:3px;
}

#header .log_out_button{
	border: none;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 15px;
	
}
#header .log_out_button h2{
	color:darkblue;
	background-color:white;
	border:1px solid blue;
	border-radius:3px;
	padding:4px;
	transition:0.2s;
}
#header .log_out_button h2:hover{
	color:white;
	background-color:blue;
}

#header h1{
	padding:0px;
	margin:0px;
}